$main_font:  'Megrim', cursive;
$secondary_font: 'Quicksand', sans-serif;

$telephone: 480px;
$tablet: 768px;
$desktop: 1024px;

$font_size_md: 2rem;
$font_size_d: 3.5rem;
$min_size: 1rem;
$separation: 2rem;
$separation_md: 4rem;

$main_color: #E1CE7A;
$secondary_color: #FBFFB9;
$tertiary_color: #FDD692;
$icons_color: #754F44;
$bg_modal: rgb(0 0 0 / .5);
$black: #000;
$white: #fff;
$gray: #eceeef;

$main_night_color: #000;
$secondary_night_color: #8a8b66;
$tertiary_night_color: #000000a3;